*{
  box-sizing: border-box;
  font-family:"Times New Roman",Times, serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Food, llc */
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 0.25;

}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

h1{
  color:green;
  margin:30px;
  text-align: left;
}

h2{
  position: relative;
  float:right;
  padding:20px;
  margin-top:-10px;
  margin-right:-10px;
  cursor: pointer;
  border: 1px solid black;
}

#muffin{
background-color: #9978af;
}

#pasta{
  color:blue;
  background-color: #2078af;
}

#pancake{
  background-color: #207865;
}

section{
  width: 90%;
  background-color: #999999;
  padding:10px;
  border: 1px solid black;
  margin-top: 20px;
}

@media(min-width: 992px){
  
  .col-lg-4{
    width:33.33%;
    float: left;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12{
    float: left;
  }
  .col-md-6{
    width:50%;
    
  }

  .col-md-12{
    width: 100%;
  }
}

@media(max-width: 767px){
  .col-sm-12{
    width: 100%;
    float: left;
  }
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* food,llc */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* food, llc */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
