*{
	box-sizing: border-box;
	font-family:"Times New Roman",Times, serif;
}

h1{
	color:green;
	margin:30px;
	text-align: center;
}

h2{
	position: ralative;
	float:right;
	background-color: #2078af;
	padding:20px;
	margin-top:-10px;
	margin-right:-10px;
	cursor: pointer;
}
.pic{
	align-content: center;
	border: 10px ridge rgb(25, 183, 234);
}

section{
	width: 90%;
	background-color: #999999;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	padding:10px;
	

}

@media(min-width: 992px){
	
	.col-lg-4{
		width:33.33%;
		float: left;
	}

}


@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12{
		float: left;
	}
	.col-md-6{
		width:50%;
		
	}

	.col-md-12{
		width: 100%;
	}
}

media(max-width: 767px){
	.col-sm-12{
		width: 100%;
		float: left;
	}
}